/* Style Sheet */

/* Global CSS */
* {
  font-family: 'Mulish', Tahoma, sans-serif;
  box-sizing: border-box;
  margin: auto;
}

body {
  background-color: #f4e6ff;
}

section {
  margin: 0px 20vw;
}

h1, h2, h3 {
  margin-bottom: 2vh;
  margin-top: 3vh;
}

h1 {
  font-family: 'Amatic SC', sans-serif;
  font-weight: 700;
  font-size: 40px;
}

h2, h3 {
  font-family: 'Alegreya', sans-serif; 
}

h2 {
  font-weight: 700;
  font-size: 30px;
}

h3 {
  font-size: 23px;
}

p {
  text-align: justify;
  margin-bottom: 10px;
}


/* Nav Bar */
.header {
  width: 100vw;
  text-align: center;
  background-color: indigo;
}

.header li {
  display: inline-block;
  margin: 10px;
  background-color: #d499ff;
  padding: 10px 0px;
  border-radius: 10px;
}

a {
  color: indigo;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px 20px;
}

a:hover {
  background-color: #eaccff;
}


/* Body */
.code {
  font-family: 'Courier New';
  font-size: 16px;
  background-color: blanchedalmond;
}

.property {
  font-family: 'Courier New';
  font-weight: bold;
  font-size: 16px;
  color: rebeccapurple;
}

.value {
  font-family: 'Courier New';
  font-weight: bold;
  font-size: 16px;
  color: orchid;
}

#tables, #boxmodel, #cssselect, #typography, #cssprop {
  padding: 15px 0px;
}


/* Tables */
table {
  max-width: 900px;
  background-color: honeydew;
}

.tabletitle {
  text-align: center;
  background-color: #d499ff;
  max-width: 500px;
  margin: auto;
}

th {
  font-weight: 600;
  text-align: left;
  border-style: solid;
  border-width: 2px;
}

td {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 15px;
  border-style: solid;
}

/* Box Model */
#boxmodel, #typography {
  background-color: #eaccff;
}

img {
  position: relative;
  bottom: 40px;
  width: 100%;
  padding: 0;
  margin-bottom: -40px;
  min-width: 80%;
  overflow: visible;
}

.border li {
  margin: 5px 0px;
  padding-left: 2px;
  max-width: 500px;
}

li.thin{border-style: solid; border-width: thin;}
li.medium{border-style: solid; border-width: medium;}
li.thick{border-style: solid; border-width: thick;}

li.dotted {border-style: dotted;}
li.dashed {border-style: dashed;}
li.solid {border-style: solid;}
li.double {border-style: double;}
li.groove {border-style: groove;}
li.ridge {border-style: ridge;}
li.inset {border-style: inset;}
li.outset {border-style: outset;}
li.none {border-style: none;}
li.hidden {border-style: hidden;}
li.mix {border-style: dotted dashed solid double;}


/* Box Model: Overflow */
.overflow table {
  table-layout: fixed;
  display: block;
  min-width: 900px;
  min-height: 100px;
}

.ofex {
  display: block;
  max-height: 100px;
}

.visible{overflow:visible;}
.hidden{overflow:hidden;}
.clip{overflow:clip;}
.scroll{overflow:scroll;}
.auto{overflow:auto;}


/* CSS Selectors */



/* Typeography */
#typography ul {
  margin-left: -40px;
}

#typography li {
  display: inline-block;
  padding: 10px 20px;
  background-color: lavender;
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: 10px;
  min-width: 200px;
}

.tahoma {
  font-family: Tahoma;
}

.sans-serif {
  font-family: sans-serif;
}

.amatic {
  font-family: 'Amatic SC';
  font-weight: 700;
  letter-spacing: 1px;
}

.alegreya {
  font-family: 'Alegreya';
}

.fwb {font-weight: bold;}
.fwn {font-weight: normal;}
.fwl {font-weight: lighter;}
.fwb {font-weight: bolder;}

.fsi {font-style: italic;}
.fsn {font-style: normal;}

.ttu {text-transform: uppercase;}
.ttl {text-transform: lowercase;}

.lsp {letter-spacing: 3px;}
.lem {letter-spacing: 0.2em;}

.wsp {word-spacing: 3px;}
.wsem {word-spacing: 0.2em;}

.lhu {line-height: 5;}
.lhp {line-height: 20px;}
.lhem {line-height: 0.3em;}


/* Footer */
footer {
  padding: 20px;
  background-color: indigo;
}

footer p {
  margin-left: 20%;
  color: lavender;
  word-spacing: 1px;
}

